tr:hover
  //box-shadow: 4.0px 8.0px hsl(0deg 0% 0% / 0.38)
.MuiTableRow-hover:hover
  background-color: beige
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px
  cursor: pointer
.border-break
  margin-bottom: 35px
  margin-top: 35px
  border: 1px solid rgb(192, 192, 192)